{
  "extends": [
    "plugin:prettier/recommended",
    "plugin:jsx-a11y/recommended",
    "prettier",
    "react-app"
  ],
  "plugins": ["prettier", "jsx-a11y"],
  "parser": "@typescript-eslint/parser",
  "env": {
    "browser": true
  },
  "rules": {
    "prettier/prettier": [
      "warn",
      {
        "arrowParens": "avoid",
        "semi": false,
        "trailingComma": "none",
        "endOfLine": "lf",
        "tabWidth": 2,
        "useTabs": false,
        "singleQuote": true,
        "printWidth": 100,
        "jsxSingleQuote": false,
        "bracketSameLine": false
      }
    ]
  }
}
